*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  min-height: 100vh;
  color: white;
  position: relative;
}

/* Background Video */
.bg-video{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

/* Dark Overlay */
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  z-index: -1;
}

/* Main Layout */
.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 8%;
  gap: 60px;
}

/* Left Section */
.left-section{
  flex: 1;
  max-width: 550px;
}

.logo-box img{
  width: 340px;
  margin-bottom: 20px;
}

.left-section h1{
  font-size: 65px;
  line-height: 1.1;
  margin-bottom: 20px;
  font-weight: 700;
}

.left-section h1 span{
  color: #67d42f;
}

.left-section p{
  font-size: 18px;
  line-height: 1.8;
  color: #dddddd;
  max-width: 500px;
}

/* Form Container */
.form-container{
  width: 500px;
  max-width: 100%;
  padding: 42px;
  border-radius: 25px;
  backdrop-filter: blur(18px);
  background: rgba(0,0,0,0.35);
  border: 1px solid rgba(103,212,47,0.4);
  box-shadow: 0 0 25px rgba(103,212,47,0.15);
}

.form-container h2{
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
}

.form-container .subtitle{
  text-align: center;
  margin-bottom: 35px;
  color: #cccccc;
}

.form-container .subtitle span{
  color: #67d42f;
  font-weight: 600;
}

/* Input Fields */
.input-box{
  width: 100%;
  height: 45px;
  border: 1px solid rgba(103,212,47,0.5);
  border-radius: 15px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  background: rgba(255,255,255,0.03);
}

.input-box i{
  color: #67d42f;
  font-size: 18px;
  margin-right: 14px;
}

.input-box input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.input-box input::placeholder{
  color: #cccccc;
}

/* Register Button */
.register-btn{
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 15px;
  background: linear-gradient(to right, #56c91e, #7fff39);
  color: white;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  margin-top: 10px;
}

.register-btn:hover{
  transform: translateY(-2px);
  box-shadow: 0 0 18px rgba(103,212,47,0.6);
}

/* Divider */
.divider{
  display: flex;
  align-items: center;
  text-align: center;
  margin: 28px 0;
}

.divider::before,
.divider::after{
  content: "";
  flex: 1;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.divider span{
  margin: 0 12px;
  color: #cccccc;
}

/* Google Button */
.google-btn{
  width: 100%;
  height: 45px;
  border-radius: 15px;
  border: none;
  background: white;
  color: #111;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;

  transition: 0.3s;
}

.google-btn img{
  width: 22px;
}

.google-btn:hover{
  transform: scale(1.02);
}

/* Login Text */
.login-text{
  text-align: center;
  margin-top: 28px;
  color: #cccccc;
}

.login-text a{
  color: #67d42f;
  text-decoration: none;
  font-weight: 600;
}

/* Responsive */
@media(max-width: 1100px){

  .container{
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
  }

  .left-section{
    max-width: 100%;
  }

  .logo-box img{
    width: 260px;
  }

  .left-section h1{
    font-size: 50px;
  }

  .left-section p{
    margin: auto;
  }
}

@media(max-width: 600px){

  .form-container{
    width: 100%;
    padding: 30px 20px;
  }

  .left-section h1{
    font-size: 38px;
  }

  .form-container h2{
    font-size: 32px;
  }

  .logo-box img{
    width: 220px;
  }

  .input-box{
    height: 54px;
  }

  .register-btn,
  .google-btn{
    height: 54px;
  }
}

@media(max-width: 400px){

  .container{
    padding: 24px 14px;
  }

  .logo-box img{
    width: 170px;
  }

  .left-section h1{
    font-size: 30px;
  }

  .left-section p{
    font-size: 15px;
  }

  .form-container{
    padding: 22px 16px;
  }

  .form-container h2{
    font-size: 26px;
  }

  .input-box{
    height: 48px;
    padding: 0 14px;
  }

  .input-box i{
    font-size: 15px;
    margin-right: 10px;
  }

  .register-btn{
    height: 48px;
    font-size: 16px;
  }
}













/* =========================
   HOME PAGE CSS
========================= */

/* Navbar */
.navbar{
  width: 92%;
  height: 70px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 999;

  padding: 15px 30px;

  border-radius: 20px;

  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(14px);

  border: 1px solid rgba(103,212,47,0.4);

  display: flex;
  align-items: center;
  justify-content: space-between;

  box-shadow: 0 0 25px rgba(103,212,47,0.18);
}

.nav-logo img{
  width: 130px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 35px;
}

.nav-links a{
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links .active{
  color: #67d42f;
}

.nav-icons{
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons i{
  font-size: 20px;
  cursor: pointer;
}

.profile{
  width: 42px;
  height: 42px;
  border-radius: 50%;
  border: 2px solid #67d42f;
}

/* Mobile Menu Button */
.menu-btn{
  width: 35px;
  height: 35px;
  display: none;
  flex-direction: column;
  justify-content: center;
  gap: 6px;
  cursor: pointer;
}

.menu-btn span{
  width: 100%;
  height: 3px;
  background: #67d42f;
  border-radius: 10px;
}

/* Hero */
.hero{
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;

  padding: 140px 20px 50px;
}

.hero h1{
  font-size: 65px;
  margin-bottom: 20px;
}

.hero p{
  font-size: 20px;
  color: #dddddd;
  margin-bottom: 40px;
}

/* Search Box */
.search-box{
  width: 90%;
  max-width: 950px;

  display: flex;
  align-items: center;
  gap: 20px;

  padding: 30px;

  border-radius: 25px;

  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(103,212,47,0.4);

  box-shadow: 0 0 30px rgba(103,212,47,0.2);
}

.search-left,
.search-right{
  flex: 1;
  text-align: left;
}

.search-box label{
  display: block;
  margin-bottom: 12px;
  font-weight: 500;
}

.location-box{
  display: flex;
  align-items: center;

  border: 1px solid rgba(255,255,255,0.15);

  border-radius: 12px;
  padding: 14px;
}

.location-box i{
  color: #67d42f;
  margin-right: 10px;
}

.location-box input,
.search-right input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 15px;
}

.search-right input{
  border: 1px solid rgba(255,255,255,0.15);
  padding: 14px;
  border-radius: 12px;
}

.food-tags{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 15px;
}

.food-tags span{
  padding: 8px 14px;
  border-radius: 20px;

  background: rgba(103,212,47,0.15);
  border: 1px solid rgba(103,212,47,0.4);

  font-size: 14px;
}

.search-btn{
  width: 70px;
  height: 70px;

  border: none;
  border-radius: 20px;

  background: linear-gradient(to right, #56c91e, #7fff39);

  color: white;
  font-size: 24px;
  cursor: pointer;
}

/* Sections */
.food-section{
  width: 92%;
  margin: auto;
  margin-bottom: 60px;
}

.food-section h2{
  margin-bottom: 25px;
  font-size: 32px;
}

/* Categories */
.category-container{
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.category-card{
  padding: 22px 30px;

  border-radius: 20px;

  background: rgba(0,0,0,0.35);

  border: 1px solid rgba(103,212,47,0.35);

  display: flex;
  align-items: center;
  gap: 12px;

  font-size: 20px;

  transition: 0.3s;
}

.category-card:hover{
  transform: translateY(-5px);
}

.category-card i{
  color: #67d42f;
}

/* Food Cards */
.cards-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 25px;
}

.food-card{
  border-radius: 20px;
  overflow: hidden;

  background: rgba(0,0,0,0.35);

  border: 1px solid rgba(103,212,47,0.35);

  transition: 0.3s;
}

.food-card:hover{
  transform: translateY(-5px);
}

.food-card img{
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-content{
  padding: 20px;
}

.card-content h3{
  margin-bottom: 10px;
}

.card-content p{
  color: #cccccc;
}

/* Offers */
.offer-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
  gap: 20px;
}

.offer-card{
  padding: 30px;
  border-radius: 20px;

  background: rgba(0,0,0,0.35);

  border: 1px solid rgba(103,212,47,0.35);
}

.offer-card h3{
  color: #67d42f;
  margin-bottom: 10px;
}

/* Responsive */
@media(max-width: 950px){

  .menu-btn{
    display: flex;
  }

  .nav-links{
    position: absolute;
    top: 90px;
    right: 0;

    width: 260px;

    flex-direction: column;

    background: rgba(0,0,0,0.92);

    padding: 30px;

    border-radius: 20px;

    display: none;
  }

  .show-menu{
    display: flex;
  }

  .hero h1{
    font-size: 42px;
  }

  .search-box{
    flex-direction: column;
  }

  .nav-links{
    gap: 25px;
  }

  .nav-links a{
    font-size: 18px;
  }

  .navbar{
    padding: 15px 20px;
  }

  .nav-logo img{
    width: 150px;
  }
}

@media(max-width: 600px){

  .hero h1{
    font-size: 34px;
  }

  .hero p{
    font-size: 16px;
  }

  .search-box{
    width: 100%;
    padding: 20px;
  }

  .search-btn{
    width: 100%;
    height: 55px;
  }

  .food-section h2{
    font-size: 26px;
  }

  .category-card{
    width: 100%;
    justify-content: center;
  }
}








/* =========================
   RESTAURANTS PAGE
========================= */

.restaurant-hero{
  padding-top: 170px;
  text-align: center;
  width: 92%;
  margin: auto;
}

.restaurant-hero h1{
  font-size: 60px;
  margin-bottom: 15px;
}

.restaurant-hero p{
  color: #cccccc;
  margin-bottom: 40px;
  font-size: 18px;
}

/* Search */
.restaurant-search{
  width: 100%;
  max-width: 700px;
  margin: auto;

  height: 65px;

  display: flex;
  align-items: center;

  padding: 0 25px;

  border-radius: 18px;

  background: rgba(0,0,0,0.35);
  backdrop-filter: blur(15px);

  border: 1px solid rgba(103,212,47,0.4);

  box-shadow: 0 0 25px rgba(103,212,47,0.15);
}

.restaurant-search i{
  color: #67d42f;
  font-size: 18px;
  margin-right: 15px;
}

.restaurant-search input{
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 16px;
}

.restaurant-search input::placeholder{
  color: #cccccc;
}

/* Filter Buttons */
.filter-section{
  width: 92%;
  margin: 40px auto;

  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.filter-btn{
  padding: 12px 22px;

  border-radius: 30px;

  border: 1px solid rgba(103,212,47,0.4);

  background: rgba(0,0,0,0.35);

  color: white;

  cursor: pointer;

  transition: 0.3s;
}

.filter-btn:hover,
.active-filter{
  background: linear-gradient(to right, #56c91e, #7fff39);
  color: white;
}

/* Restaurants Grid */
.restaurant-container{
  width: 92%;
  margin: auto;
  padding-bottom: 60px;

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;
}

/* Card */
.restaurant-card{
  border-radius: 25px;
  overflow: hidden;

  background: rgba(0,0,0,0.35);

  backdrop-filter: blur(15px);

  border: 1px solid rgba(103,212,47,0.35);

  transition: 0.3s;
}

.restaurant-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 0 30px rgba(103,212,47,0.2);
}

/* Image */
.restaurant-image{
  position: relative;
}

.restaurant-image img{
  width: 100%;
  height: 240px;
  object-fit: cover;
}

/* Badge */
.restaurant-badge{
  position: absolute;
  bottom: 15px;
  left: 15px;

  padding: 8px 16px;

  border-radius: 30px;

  background: linear-gradient(to right, #56c91e, #7fff39);

  font-size: 14px;
  font-weight: 600;
}

/* Content */
.restaurant-content{
  padding: 22px;
}

.restaurant-top{
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 12px;
}

.restaurant-top h3{
  font-size: 24px;
}

.rating{
  padding: 6px 12px;
  border-radius: 20px;

  background: rgba(103,212,47,0.15);

  color: #67d42f;

  font-size: 14px;
  font-weight: 600;
}

.rating i{
  margin-right: 4px;
}

.restaurant-content p{
  color: #cccccc;
  margin-bottom: 18px;
}

/* Bottom Info */
.restaurant-info{
  display: flex;
  justify-content: space-between;

  font-size: 15px;
  color: white;
}

/* Responsive */
@media(max-width: 768px){

  .restaurant-hero h1{
    font-size: 40px;
  }

  .restaurant-hero p{
    font-size: 16px;
  }

  .restaurant-search{
    height: 58px;
  }

  .restaurant-container{
    grid-template-columns: 1fr;
  }

  .restaurant-top h3{
    font-size: 21px;
  }

}













/* =========================
   OFFERS PAGE
========================= */

.offers-body{
  background: #0f1115;
  min-height: 100vh;
  color: white;
}

/* Hero */
.offers-hero{
  width: 92%;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.hero-left{
  flex: 1;
}

.offer-tag{
  display: inline-block;

  padding: 10px 18px;

  border-radius: 30px;

  background: rgba(103,212,47,0.15);

  border: 1px solid rgba(103,212,47,0.4);

  color: #67d42f;

  margin-bottom: 25px;
}

.hero-left h1{
  font-size: 70px;
  line-height: 1.1;
  margin-bottom: 25px;
}

.hero-left h1 span{
  color: #67d42f;
}

.hero-left p{
  color: #cccccc;
  font-size: 18px;
  line-height: 1.8;
  max-width: 550px;
  margin-bottom: 35px;
}

/* Buttons */
.hero-buttons{
  display: flex;
  gap: 20px;
}

.primary-btn,
.secondary-btn{
  height: 55px;
  padding: 0 32px;

  border-radius: 16px;

  font-size: 16px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;
}

.primary-btn{
  border: none;

  background: linear-gradient(to right, #56c91e, #7fff39);

  color: white;
}

.primary-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(103,212,47,0.5);
}

.secondary-btn{
  background: transparent;

  border: 1px solid rgba(255,255,255,0.15);

  color: white;
}

/* Right Image */
.hero-right{
  flex: 1;
  position: relative;
}

.hero-right img{
  width: 100%;
  border-radius: 35px;

  box-shadow: 0 0 40px rgba(103,212,47,0.15);
}

/* Offer Cards */
.offers-section{
  width: 92%;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
  gap: 30px;

  margin-bottom: 80px;
}

.offer-big-card{
  position: relative;
  overflow: hidden;

  border-radius: 30px;

  min-height: 320px;

  padding: 40px;

  display: flex;
  align-items: center;

  transition: 0.3s;
}

.offer-big-card:hover{
  transform: translateY(-6px);
}

.offer-big-card img{
  position: absolute;
  right: -30px;
  bottom: 0;

  width: 280px;
  height: 280px;

  object-fit: cover;

  border-radius: 50%;
}

.green-card{
  background: linear-gradient(135deg,#56c91e,#1f2d12);
}

.dark-card{
  background: linear-gradient(135deg,#1b1d25,#0f1115);
}

.offer-text{
  position: relative;
  z-index: 2;
}

.offer-text span{
  font-size: 14px;
  letter-spacing: 1px;
}

.offer-text h2{
  font-size: 50px;
  margin: 15px 0;
}

.offer-text p{
  margin-bottom: 25px;
}

.offer-text button{
  height: 50px;
  padding: 0 28px;

  border: none;
  border-radius: 14px;

  background: white;
  color: black;

  font-weight: 600;
  cursor: pointer;
}

/* Trending */
.trending-section{
  width: 92%;
  margin: auto;
  margin-bottom: 80px;
}

.section-title{
  margin-bottom: 35px;
}

.section-title h2{
  font-size: 42px;
  margin-bottom: 10px;
}

.section-title p{
  color: #cccccc;
}

.deal-container{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
  gap: 30px;
}

/* Deal Card */
.deal-card{
  background: #171a20;

  border-radius: 28px;
  overflow: hidden;

  transition: 0.3s;

  border: 1px solid rgba(255,255,255,0.05);
}

.deal-card:hover{
  transform: translateY(-8px);
  box-shadow: 0 0 25px rgba(103,212,47,0.15);
}

.deal-image img{
  width: 100%;
  height: 230px;
  object-fit: cover;
}

.deal-content{
  padding: 25px;
}

.deal-badge{
  display: inline-block;

  padding: 8px 16px;

  border-radius: 30px;

  background: rgba(103,212,47,0.15);

  color: #67d42f;

  font-size: 13px;

  margin-bottom: 18px;
}

.deal-content h3{
  font-size: 28px;
  margin-bottom: 12px;
}

.deal-content p{
  color: #cccccc;
  margin-bottom: 25px;
}

/* Bottom */
.deal-bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deal-bottom small{
  color: #aaaaaa;
}

.deal-bottom h4{
  font-size: 26px;
  margin-top: 5px;
}

.deal-bottom button{
  width: 95px;
  height: 48px;

  border: none;
  border-radius: 14px;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;
  font-weight: 600;

  cursor: pointer;
}

/* CTA */
.cta-section{
  width: 92%;
  margin: auto;
  padding-bottom: 80px;
}

.cta-box{
  border-radius: 35px;

  padding: 70px 50px;

  text-align: center;

  background: linear-gradient(135deg,#1c1f26,#101114);

  border: 1px solid rgba(103,212,47,0.15);
}

.cta-box h2{
  font-size: 52px;
  margin-bottom: 20px;
}

.cta-box p{
  color: #cccccc;
  font-size: 18px;

  margin-bottom: 35px;
}

.cta-box button{
  height: 58px;
  padding: 0 40px;

  border: none;
  border-radius: 16px;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;

  font-size: 17px;
  font-weight: 600;

  cursor: pointer;
}

/* Responsive */
@media(max-width: 1000px){

  .offers-hero{
    flex-direction: column;
    text-align: center;
  }

  .hero-left p{
    margin: auto auto 35px;
  }

  .hero-buttons{
    justify-content: center;
  }

  .hero-left h1{
    font-size: 52px;
  }

  .cta-box h2{
    font-size: 40px;
  }
}

@media(max-width: 700px){

  .offers-section{
    grid-template-columns: 1fr;
  }

  .offer-big-card{
    min-height: 420px;
  }

  .offer-big-card img{
    width: 220px;
    height: 220px;
  }

  .hero-left h1{
    font-size: 40px;
  }

  .section-title h2{
    font-size: 32px;
  }

  .cta-box{
    padding: 50px 25px;
  }

  .cta-box h2{
    font-size: 30px;
  }

  .cta-box p{
    font-size: 16px;
  }

}








/* =========================
   ORDERS PAGE
========================= */

.orders-body{
  background: #101317;
  min-height: 100vh;
  color: white;
}

/* Main Wrapper */
.orders-wrapper{
  width: 100%;
  max-width: 950px;

  margin: auto;

  padding: 140px 20px 60px;
}

/* Header */
.orders-header{
  text-align: center;
  margin-bottom: 40px;
}

.orders-header h1{
  font-size: 52px;
  margin-bottom: 12px;
}

.orders-header p{
  color: #bdbdbd;
  font-size: 17px;
}

/* Current Order */
.current-order{
  background: #171b21;

  border-radius: 28px;

  padding: 35px;

  border: 1px solid rgba(103,212,47,0.15);

  margin-bottom: 40px;
}

/* Top */
.order-top{
  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;

  margin-bottom: 40px;
}

.live-status{
  display: inline-flex;
  align-items: center;
  gap: 8px;

  padding: 8px 16px;

  border-radius: 30px;

  background: rgba(103,212,47,0.12);

  color: #67d42f;

  font-size: 14px;

  margin-bottom: 16px;
}

.live-status i{
  font-size: 10px;
}

.order-top h2{
  font-size: 34px;
  margin-bottom: 10px;
}

.order-top p{
  color: #bbbbbb;
}

/* Track Button */
.track-btn{
  height: 52px;
  padding: 0 28px;

  border: none;
  border-radius: 16px;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;

  font-size: 15px;
  font-weight: 600;

  cursor: pointer;
}

/* Progress */
.progress-container{
  position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
}

.progress-line{
  position: absolute;
  top: 22px;
  left: 0;

  width: 100%;
  height: 4px;

  background: rgba(255,255,255,0.08);

  z-index: 1;
}

.progress-step{
  position: relative;
  z-index: 2;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 10px;
}

.step-icon{
  width: 45px;
  height: 45px;

  border-radius: 50%;

  background: #252a31;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #888;
}

.progress-step span{
  font-size: 14px;
  color: #bdbdbd;
}

.active-step .step-icon{
  background: linear-gradient(to right,#56c91e,#7fff39);
  color: white;
}

.active-step span{
  color: white;
}

/* Previous Orders */
.previous-orders{
  background: #171b21;

  border-radius: 28px;

  padding: 35px;

  border: 1px solid rgba(255,255,255,0.05);
}

.previous-orders h3{
  font-size: 28px;
  margin-bottom: 30px;
}

/* Order Card */
.order-card{
  display: flex;
  align-items: center;

  gap: 20px;

  padding: 20px;

  border-radius: 20px;

  background: #1d2229;

  margin-bottom: 18px;
}

.order-card img{
  width: 120px;
  height: 100px;

  object-fit: cover;

  border-radius: 16px;
}

/* Details */
.order-details{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

.order-info h4{
  font-size: 22px;
  margin-bottom: 8px;
}

.order-info p{
  color: #bdbdbd;
  margin-bottom: 10px;
}

.order-info span{
  color: #67d42f;
  font-size: 14px;
}

/* Price */
.order-price{
  text-align: right;
}

.order-price h5{
  font-size: 26px;
  margin-bottom: 14px;
}

.order-price button{
  width: 110px;
  height: 44px;

  border: none;
  border-radius: 14px;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;

  font-weight: 600;

  cursor: pointer;
}

/* Responsive */
@media(max-width: 768px){

  .orders-header h1{
    font-size: 38px;
  }

  .order-top{
    flex-direction: column;
    align-items: flex-start;
  }

  .progress-container{
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .progress-line{
    display: none;
  }

  .order-card{
    flex-direction: column;
    align-items: flex-start;
  }

  .order-card img{
    width: 100%;
    height: 220px;
  }

  .order-details{
    flex-direction: column;
    align-items: flex-start;
  }

  .order-price{
    text-align: left;
  }

  .track-btn{
    width: 100%;
  }

}

@media(max-width: 500px){

  .current-order,
  .previous-orders{
    padding: 22px;
  }

  .order-top h2{
    font-size: 28px;
  }

  .previous-orders h3{
    font-size: 24px;
  }

}





















/* =========================
   CART PAGE
========================= */

.cart-body{
  background: #0f1318;
  min-height: 100vh;
  color: white;
}

/* Wrapper */
.cart-wrapper{
  width: 92%;
  max-width: 1350px;

  margin: auto;

  padding-top: 140px;
  padding-bottom: 60px;

  display: grid;
  grid-template-columns: 1.7fr 1fr;
  gap: 35px;
}

/* Heading */
.cart-heading{
  margin-bottom: 35px;
}

.cart-heading h1{
  font-size: 52px;
  margin-bottom: 10px;
}

.cart-heading p{
  color: #bdbdbd;
  font-size: 17px;
}

/* Cart Left */
.cart-left{
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* Item */
.cart-item{
  background: #171c22;

  border-radius: 28px;

  padding: 22px;

  display: flex;
  align-items: center;
  gap: 22px;

  border: 1px solid rgba(255,255,255,0.05);

  transition: 0.3s;
}

.cart-item:hover{
  transform: translateY(-4px);
  border-color: rgba(103,212,47,0.18);
}

/* Image */
.cart-item img{
  width: 170px;
  height: 140px;

  object-fit: cover;

  border-radius: 20px;
}

/* Details */
.cart-details{
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-between;

  gap: 20px;
}

/* Info */
.cart-info h3{
  font-size: 28px;
  margin-bottom: 10px;
}

.cart-info p{
  color: #bdbdbd;
  margin-bottom: 12px;
  line-height: 1.6;
}

.cart-info span{
  color: #67d42f;
  font-size: 15px;
}

/* Actions */
.cart-actions{
  text-align: right;
}

.cart-actions h4{
  font-size: 30px;
  margin-bottom: 20px;
}

/* Quantity */
.quantity-box{
  display: flex;
  align-items: center;
  gap: 15px;

  background: #20252c;

  padding: 10px 16px;

  border-radius: 14px;
}

.quantity-box button{
  width: 30px;
  height: 30px;

  border: none;
  border-radius: 8px;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;

  font-size: 18px;
  cursor: pointer;
}

.quantity-box span{
  font-size: 18px;
  font-weight: 600;
}

/* Summary */
.cart-summary{
  height: fit-content;

  background: #171c22;

  border-radius: 30px;

  padding: 35px;

  border: 1px solid rgba(103,212,47,0.15);

  position: sticky;
  top: 120px;
}

.cart-summary h2{
  font-size: 34px;
  margin-bottom: 30px;
}

/* Promo */
.promo-box{
  height: 60px;

  display: flex;
  align-items: center;

  background: #20252c;

  border-radius: 16px;

  overflow: hidden;

  margin-bottom: 35px;
}

.promo-box i{
  padding-left: 18px;
  color: #67d42f;
}

.promo-box input{
  flex: 1;

  height: 100%;

  background: transparent;

  border: none;
  outline: none;

  color: white;

  padding: 0 15px;
}

.promo-box button{
  width: 100px;
  height: 100%;

  border: none;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;

  font-weight: 600;
  cursor: pointer;
}

/* Summary Rows */
.summary-details{
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 30px;
}

.summary-row{
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: #cccccc;
}

.discount-row{
  color: #67d42f;
}

/* Total */
.total-row{
  padding-top: 25px;

  border-top: 1px solid rgba(255,255,255,0.08);

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 30px;
}

.total-row span{
  font-size: 18px;
}

.total-row h3{
  font-size: 40px;
}

/* Buttons */
.checkout-btn{
  width: 100%;
  height: 58px;

  border: none;
  border-radius: 18px;

  background: linear-gradient(to right,#56c91e,#7fff39);

  color: white;

  font-size: 17px;
  font-weight: 600;

  cursor: pointer;

  transition: 0.3s;

  margin-bottom: 15px;
}

.checkout-btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 0 20px rgba(103,212,47,0.35);
}

.continue-btn{
  width: 100%;
  height: 55px;

  border-radius: 18px;

  background: transparent;

  border: 1px solid rgba(255,255,255,0.08);

  color: white;

  cursor: pointer;
}

/* Secure */
.secure-box{
  margin-top: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 10px;

  color: #67d42f;

  font-size: 15px;
}

/* Responsive */
@media(max-width: 1100px){

  .cart-wrapper{
    grid-template-columns: 1fr;
  }

  .cart-summary{
    position: static;
  }

}

@media(max-width: 768px){

  .cart-heading h1{
    font-size: 40px;
  }

  .cart-item{
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-item img{
    width: 100%;
    height: 220px;
  }

  .cart-details{
    flex-direction: column;
    align-items: flex-start;
  }

  .cart-actions{
    width: 100%;
    text-align: left;
  }

  .cart-summary{
    padding: 25px;
  }

  .cart-summary h2{
    font-size: 28px;
  }

}

@media(max-width: 500px){

  .cart-heading h1{
    font-size: 34px;
  }

  .cart-item{
    padding: 18px;
  }

  .cart-info h3{
    font-size: 23px;
  }

  .cart-actions h4{
    font-size: 26px;
  }

  .total-row h3{
    font-size: 32px;
  }

}






















/* =========================
   GLOBAL MINIMAL UI UPDATE
========================= */

/* General Text */
body{
  font-size: 15px;
  line-height: 1.5;
}

/* Navbar */


.nav-logo img{
  width: 155px;
}

/* Hero Headings */
.hero h1,
.restaurant-hero h1,
.orders-header h1,
.cart-heading h1,
.hero-left h1{
  font-size: 42px !important;
  line-height: 1.2;
}

/* Hero Paragraphs */
.hero p,
.restaurant-hero p,
.orders-header p,
.cart-heading p,
.hero-left p{
  font-size: 15px !important;
}

/* Section Headings */
.food-section h2,
.section-title h2,
.previous-orders h3,
.cart-summary h2{
  font-size: 26px !important;
}

/* Restaurant Cards */
.restaurant-top h3{
  font-size: 20px;
}

.restaurant-content p{
  font-size: 14px;
}

/* Food Cards */
.card-content h3{
  font-size: 20px;
}

.card-content p{
  font-size: 14px;
}

/* Orders */
.order-top h2{
  font-size: 26px;
}

.order-info h4{
  font-size: 18px;
}

.order-price h5{
  font-size: 22px;
}

/* Cart */
.cart-info h3{
  font-size: 20px;
}

.cart-info p{
  font-size: 14px;
}

.cart-actions h4{
  font-size: 24px;
}

.total-row h3{
  font-size: 30px;
}

/* Offer Page */
.offer-text h2{
  font-size: 38px;
}

.deal-content h3{
  font-size: 22px;
}

.cta-box h2{
  font-size: 36px;
}

/* Buttons */
button{
  font-size: 14px !important;
}

/* Inputs */
input{
  font-size: 14px !important;
}

/* Cards Padding Reduction */
.restaurant-content,
.card-content,
.deal-content,
.current-order,
.previous-orders,
.cart-summary{
  padding: 22px !important;
}

/* Mobile */
@media(max-width: 768px){

  .hero h1,
  .restaurant-hero h1,
  .orders-header h1,
  .cart-heading h1,
  .hero-left h1{
    font-size: 32px !important;
  }

  .food-section h2,
  .section-title h2,
  .cta-box h2{
    font-size: 24px !important;
  }

  .offer-text h2{
    font-size: 30px !important;
  }

}




































